#dashboard-main{
    min-height: 100%;
    max-width: 0%;
    
}

#dash-haed{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

#dash-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vh;
    height: 50vh;
    background-color: #f0eae4;
    border-radius: 10px;
    margin: 2% auto;
    padding:20px;
    overflow-y: scroll
}

.dash-details{
    padding-top: 20px;
}

.dash-scrollable{
    padding-top: 20px;
}
